.header {
  background-color: #111336;
}

.text-color {
  color: #a2b4d2;
}
.nav-color {
  color: #5f6484;
}
.bg-color,
body {
  background-color: #0b0c23;
}
.orange-bg {
  background-color: #ff9900;
}
.font-weight-600 {
  font-weight: 600;
}
.connect-btn {
  border-radius: 14px;
  font-size: 20px;
  border: 2px solid #a2b4d2;
}
.connect-btn:focus {
  background: none !important;
  box-shadow: none !important;
  color: #a2b4d2 !important;
}
.connect-btn:hover {
  background: #ff9900 !important;
  box-shadow: none !important;
  color: white !important;
}
.border-box {
  border: 2px solid #a2b4d2;
  border-radius: 12px;
}
.bg-input::placeholder {
  color: #a2b4d2;
}
.bg-input {
  border: 1px solid #a2b4d2;
  border-radius: 10px;
  width: 50% !important;
  color: #a2b4d2 !important;
}

/* modal */

#modal_box {
  border: 1px solid #ff9900 !important;
  background-color: #111336 !important;
  color: white !important;
  border-radius: 12px !important;
}
.react-responsive-modal-modal {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 12px !important;
  width: 30% !important;
}
.react-responsive-modal-modal .react-responsive-modal-closeButton {
  border: 1px solid #ff9900 !important;
  margin-top: 4px !important;
  margin-right: 12px !important;
  display: none;
}

@media (max-width: 1023px) {
  .react-responsive-modal-modal {
    width: 70% !important;
  }
}

@media (max-width: 767px) {
  .react-responsive-modal-modal {
    width: 90% !important;
  }
}

#wallet_heading {
  padding-bottom: 15px !important;
  padding-left: 30px !important;
}
#border-bottom {
  border-bottom: 2px solid #ff9900 !important;
}

#wallet-contents {
  background-color: #ff9900 !important;
  border-radius: 10px !important;
  margin-top: 10px !important;
}
#wallet_names {
  padding-top: 12px !important;
}
#question_mark {
  border: 1px solid white;
  border-radius: 50%;
}
#learn_to_connect {
  text-decoration: none;
}

/* dropdown */

.dropdown-duration > div > button,
.dropdown-duration > div > button:hover,
.dropdown-duration > div > button:active {
  background: transparent !important;
  width: 100%;
  text-align: left;
  border: 2px solid #a2b4d2;
  border-radius: 12px;
  margin: 30px 0px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a2b4d2;
}
.dropdown-duration > div > button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-duration > div > div {
  border: none;
  box-shadow: inset 0 0 5px grey;
  -moz-box-shadow: inset 0 0 5px grey;
  -webkit-box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: #111336 !important;
  width: 100%;
  text-align: center;
}
.dropdown-item {
  color: #a2b4d2;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}
.dropdown-item:active,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff9900 !important;
  cursor: pointer;
  border-radius: 6px;
}

.stake-btn {
  border-radius: 12px;
  font-size: 24px;
  background: #ff9900;
}
.stake-btn:hover,
.stake-btn:focus {
  background: #ff9900 !important;
}
.tier-btn {
  border-radius: 12px;
  background: #ff9900;
}
.tier-btn:hover,
.tier-btn:focus {
  background: #ff9900 !important;
}
.relative-position{
  position: relative;
}
.bg-coin-img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  opacity: 0.12;
}

.footer-hr {
  border-bottom: 2px solid #a2b4d2;
}
.footer-icons {
  font-size: 22px;
  cursor: pointer;
}
.footer-icons:hover {
  color: #ff9900;
}

.tier-font {
  font-size: 15px;
}
.pointer{
  cursor: pointer;
}
.terms-condition{
  color: #17a2b8;
}
.font-22{
  font-size: 22px;
}
.terms-condition:hover{
  text-decoration: underline;
}
.disclaimer-box  > div{
  border-radius: 12px;
  background-color: #111336;
}
@media (max-width: 992px) {
  .tier-font {
    font-size: 14px;
  }
  .bg-coin-img {
    top: 55%;
    width: 60%;
  }
}
@media (min-width:1500px){
  .bg-coin-img {
    top: 60%;
  }
}
@media (max-width: 578px) {
  .header > div {
    flex-direction: column;
    align-items: center;
  }
  .tier-font {
    font-size: 13px;
  }
  .bg-coin-img {
    top: 50%;
    width: 80%;
  }
}
@media (max-width: 350px) {
  .tier-font {
    font-size: 11px;
  }
}
